/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

/* Login Box */
.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}

/* Form Elements */
h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px ;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    background: #382a04;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c08607;
}

/* Register Link */
p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
